
{% for book in books %}
{% if forloop.last %}
<div
  {% if books.has_next %}
    hx-get="?page={{books.next_page_number}}"
    hx-trigger="revealed"
    hx-swap="afterend" 
    {% endif %}

    class="max-w-sm hover:border   md:w-52 hover:shadow-md  hover:shadow-sky-400 hover:-translate-y-1   transition-all duration-200  bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">

    <a href="{{book.get_absolute_url}}">
        <img class="rounded-t-lg w-full md:h-56"  src="{{book.images.first.image.url}}" alt="{{book.images.first.alt}}" />
    </a>
    <div class="p-5 flex flex-col gap-1">
        <a href="#">
            <h5 class="mb-2 text-md font-bold tracking-tight text-gray-900 dark:text-white"> {{book.title}} </h5>
        </a>

        <h4 class="text-md text-gray-800 font-medium"> author steven king</h4>
        <h4 class="text-md text-gray-800 font-medium">location biskra</h4>
    </div>
    
</div>

{% else %}

<div class="max-w-sm hover:border   md:w-52 hover:shadow-md  hover:shadow-sky-400 hover:-translate-y-1   transition-all duration-200  bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">


    <a href="{{book.get_absolute_url}}">
        <img class="rounded-t-lg w-full md:h-56"  src="{{book.images.first.image.url}}" alt="{{book.images.first.alt}}" />
    </a>
    <div class="p-5 flex flex-col gap-1">
        <a href="#">
            <h5 class="mb-2 text-md font-bold tracking-tight text-gray-900 dark:text-white"> {{book.title}} </h5>
        </a>

        <h4 class="text-md text-gray-800 font-medium"> author steven king</h4>
        <h4 class="text-md text-gray-800 font-medium">location biskra</h4>
    </div>
    
</div>

{% endif %}
{% endfor %} 