
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
reset your passsword

{% endblock title %}
{% if validlink %}
<form method="post" >
    {{form|crispy}}
    <button class="button is-primary">change</button>
    {% csrf_token %}
</form>
{% else %}
<article class="message  is-danger ">
    <div class="message-header">
      <p>invalid reset link </p>
      <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
        you are trying to use an invalid reset link <br/>
        please request a new link from  <a href="{% url 'accounts:password_reset' %}">here</a>
    </div>
  </article>

{% endif %}

{% block content %}

{% endblock content %}