{% load static %}
{% comment %} {% load tailwind_tags %} {% endcomment %}
{% load compress %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/css/output.css' %}">
    {% endcompress %}
    {% comment %} {% tailwind_css %} {% endcomment %}
  </head>
  <body>
    <div class="container mx-auto mt-4">
      {% include "header.html" %} 
      {% block content %} {% endblock content %}
    </div>

    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
  </body>

</html>
