{% load static %}
{% comment %} {% load tailwind_tags %} {% endcomment %}
{% load compress %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/css/output.css' %}">
    {% endcompress %}
    {% comment %} {% tailwind_css %} {% endcomment %}
    <style>
    [x-cloak] { display: none !important; }
    </style>
  </head>

  <body>
    <div class='container max-w-screen-xl  mx-auto'>
      {% include "header.html" %} 
    </div>
      {% block content %} 
      
      {% endblock content %}

    <script src="{% static 'src/js/main.js' %}" type='module' ></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
    <script src="https://unpkg.com/htmx.org@1.8.2"></script>

  </body>

</html>
